# 04 - Generate journals JIF-Q1 file

In [1]:
# Imports iniciais
import pandas as pd

# Pacote para ignorar mensagem de warning
import warnings
warnings.filterwarnings('ignore')

In [3]:
df_jif = pd.read_excel('../../data/raw/JCR_JournalResults_09_2024.xlsx', sheet_name=1)

In [5]:
df_jif.head()

,Journal name,JCR Abbreviation,Publisher,ISSN,eISSN,Category,Edition,Total Citations,2023 JIF,JIF Quartile,2023 JCI,% of OA Gold
0,A&C-Revista de Direito Administrativo & Consti...,A C-REV DIREITO ADM,EDITORA FORUM,1516-3210,1984-4182,LAW,ESCI,72,0.2,Q4,0.23,95.50%
1,Access to Justice in Eastern Europe,ACCESS JUSTICE E EUR,EAST EUROPEAN LAW RESEARCH CENTER,2663-0575,2663-0583,LAW,ESCI,111,0.7,Q2,0.92,17.22%
2,Accounting Research Journal,ACCOUNT RES J,EMERALD GROUP PUBLISHING LTD,1030-9616,1839-5465,"BUSINESS, FINANCE",ESCI,687,2.4,Q2,0.63,5.77%
3,ACM Journal of Data and Information Quality,ACM J DATA INF QUAL,ASSOC COMPUTING MACHINERY,1936-1955,1936-1955,"COMPUTER SCIENCE, INFORMATION SYSTEMS",ESCI,395,1.5,Q3,0.47,6.90%
4,Yale Journal on Regulation,YALE J REGUL,YALE JOURNAL ON REGULATION,0741-9457,2376-5925,LAW,SSCI,477,1.2,Q1,2.18,0.00%

In [7]:
# Remover espaços em branco e converter para maiúsculas os dados da coluna 'JIF Quartile'
df_jif['JIF Quartile'] = df_jif['JIF Quartile'].str.strip().str.upper()

# Filtrar os períodicos quartil 1
df_jif_q1 = df_jif[df_jif['JIF Quartile'] == 'Q1']

In [11]:
df_jif_q1.drop(['JCR Abbreviation','Publisher','Category','Edition','2023 JCI','% of OA Gold'], axis=1, inplace=True)
df_jif_q1.head()

,Journal name,ISSN,eISSN,Total Citations,2023 JIF,JIF Quartile
4,Yale Journal on Regulation,0741-9457,2376-5925,477,1.2,Q1
5,Wiley Interdisciplinary Reviews-Data Mining an...,1942-4787,1942-4795,"4,096",6.4,Q1
6,Wiley Interdisciplinary Reviews-Data Mining an...,1942-4787,1942-4795,"4,096",6.4,Q1
7,WATER RESOURCES MANAGEMENT,0920-4741,1573-1650,"15,535",3.9,Q1
8,WATER RESOURCES MANAGEMENT,0920-4741,1573-1650,"15,535",3.9,Q1

In [13]:
# Remover duplicatas na coluna 'Journal name'
df_jif_q1.drop_duplicates(subset=['Journal name'], inplace=True)

# Resetar o índice após remover os registros duplicados
df_jif_q1.reset_index(drop=True, inplace=True)

df_jif_q1.head()

,Journal name,ISSN,eISSN,Total Citations,2023 JIF,JIF Quartile
0,Yale Journal on Regulation,0741-9457,2376-5925,477,1.2,Q1
1,Wiley Interdisciplinary Reviews-Data Mining an...,1942-4787,1942-4795,"4,096",6.4,Q1
2,WATER RESOURCES MANAGEMENT,0920-4741,1573-1650,"15,535",3.9,Q1
3,Tourism Review,1660-5373,1759-8451,"3,735",7.3,Q1
4,TELEMATICS AND INFORMATICS,0736-5853,NaN,"8,383",7.6,Q1

In [15]:
# Converter a coluna 'Total Citations' para numérico, removendo as vírgulas
df_jif_q1['Total Citations'] = df_jif_q1['Total Citations'].replace(',', '', regex=True)
df_jif_q1['Total Citations'] = pd.to_numeric(df_jif_q1['Total Citations'], errors='coerce')

# Converter a coluna '2023 JIF' para numérico, caso não esteja
df_jif_q1['2023 JIF'] = pd.to_numeric(df_jif_q1['2023 JIF'], errors='coerce')

In [17]:
# Ordenar o DataFrame pelas colunas '2023 JIF' e 'Total Citations' em ordem decrescente
df_jif_q1.sort_values(by=['2023 JIF', 'Total Citations'], ascending=[False, False], inplace=True)

# Resetar o índice após a ordenação
df_jif_q1.reset_index(drop=True, inplace=True)

df_jif_q1.head()

,Journal name,ISSN,eISSN,Total Citations,2023 JIF,JIF Quartile
0,JAMA Psychiatry,2168-622X,2168-6238,22206,22.5,Q1
1,INTERNATIONAL JOURNAL OF INFORMATION MANAGEMENT,0268-4012,1873-4707,20325,20.1,Q1
2,Nature Machine Intelligence,NaN,2522-5839,9760,18.8,Q1
3,ACS Nano,1936-0851,1936-086X,227757,15.8,Q1
4,Science Translational Medicine,1946-6234,1946-6242,50866,15.8,Q1

In [19]:
df_jif_q1.to_excel('../../data/processed/_6_journals-JIF-Q1.xlsx')

---